.headerContainer {
    background: var(--white);
    height: 6.5rem;
    padding: 2rem 4rem;

    display: flex;
    align-items: center;
    
    border-bottom: 1px solid var(--gray-100);
    font-family: Lexend, sans-serif;
    font-size: 0.875rem;

    p {
        margin-left: 2rem;
        padding: 0.25rem 0 0.25rem 2rem;
        border-left: 1px solid var(--gray-100);

        @media (max-width: 720px) {
            display: none;
        }
    }

    img {
        width: 200px;
    }

    span {
        margin-left: auto;
        text-transform: capitalize;
    }
}